.nav > li > a {
  padding: 10px 10px !important;
}

th{
	text-transform: uppercase;
}

td{
	font-size: 12px;
}

.DTTT{
	display: none;
}

.jumbotron_normal {
  background-color: #eee;
	border-color: #e1e1e8 !important;
}

.jumbotron_green {
	background-color: #dff0d8 !important;
	border-color: #d6e9c6 !important;
}